@charset "UFT-8";

strong{
    color: rgb(214, 214, 214);
}

section p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Osvald';
}
h2{
    width: 100%;
}

section a.about{
    border: none;
    text-decoration: none;
}

section>img#foto3{
    width:380px;
    height: 380px;
}


section a.about:hover{
    text-decoration: underline;
    color: white;
}


section.linguagens>img{
    border-radius: 40%;
    height: 100px;
    width: 100px;
    cursor: pointer;
    display: inline-block;
}

section.linguagens>div>p{
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(4, 24, 90);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    width: 380px;
}

